<!--    blog.html-->
<div class="container">

<!--  Blog posts section -->
<div class="row">
<!--    Header  -->
    
    <div class="pageheader col-sm-12" >

    <h2 class="navbar-form navbar-left col-sm-3">{{message}}</h2>

    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control col-sm-4" placeholder="Ieškoti" ng-model="searchText" class="select2-no-results">
        </div>
    </form>
    
    </div>

</div>

<div class = "container"> <!-- could be like here http://www.bootply.com/tStLqUPQo3 -->
    <!--    Posts section-->
    <div class ="row col-sm-12" ng-controller="BlogCtrl">
        <div class="container page"> <!-- taken from here http://www.bootply.com/KZeecILD2t-->

        	<article class="col-sm-6" ng-repeat="post in posts | filter:searchText" ng-class='{"post col-sm-8":$first, "col-sm-6":!$first}'>
        		<blockquote class="panel panel-default" >
        			<div class="panel-body">
        <!--     Post categories, title, image, text-->
                        <p class="textformat smaller">Kategorijos: <span ng-repeat="category in post.categories"><a ng-show="category!=''" href="#/{{category}}">{{category | capitalize}}</a><span ng-hide="category == post.categories[post.categories.length-1]">, </span></span></p>
                        <h3 class="textformat text-center"><a ng-show="post.title!=''" href="#/{{post.title}}">{{post.title | capitalize}} </a></h3>
                        <a ng-show="post.imgsrc!=''" href="#/{{post.imgsrc}}"><img class="bigimage img-responsive center-block img-thumbnail" alt="{{post.imgalt}}" ng-src="{{post.imgsrc}}"></a>
                        <p class="textformat" ng-show="post.text!=''">{{post.text}}</p>
        
        <!--     Author name, image and age-->
                        <a href="#/{{post.author}}"><img class="authorimage img-responsive center-block img-circle" alt="{{post.author}}" ng-src="{{post.authorimage}}"></a>
                        <h4 class="text-center"><a href="#/{{post.author}}">{{post.author}}</a>, {{post.age}} m.</h4>
        
        <!--     Share-->
                        <div class = "social text-center">
                            <p class = "social smaller">Dalintis:</p>
                            <ul class="list-unstyled list-inline list-social-icons">
                                <li class="tooltip-social facebook-link">
                                    <a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">
                                      <i class="fa fa-facebook-square fa-2x"></i>
                                    </a>
                                </li>
                                <li class="tooltip-social google-plus-link">
                                    <a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+">
                                      <i class="fa fa-google-plus-square fa-2x"></i>
                                    </a>
                                </li>
                                <li class="tooltip-social twitter-link">
                                    <a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">
                                      <i class="fa fa-twitter-square fa-2x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
        			</div>
        		</blockquote>
        	</article>
    	</div>
        
    </div>
    <!--    End of Posts section-->

</div>    

</div>