<!--    blog.html-->
<div class="container">

<!--  Blog posts section -->
<div class="row">
<!--    Header  -->
    <div id="pageheader" class="col-lg-12">
        <h2 class="page-header">{{message}}</h2>
    </div>
</div>

<div class = "container">
    <!--    Posts section-->
    <div class="row" ng-controller="BlogCtrl">
        <div id="postrow" class = "col-md-10 col-lg-10" infinite-scroll="myPagingFunction()" infinite-scroll-distance="3">
            <div ng-repeat="post in posts || filter ">

    <!--    Individual post-->
                <div id="post" class="col-md-4 col-sm-5" >
                    
                    <div class="postcontent">

    <!--     Post categories, title, image, text-->
                    <p class="textformat">Kategorijos: <span ng-repeat="category in post.categories"><a ng-show="category!=''" href="#/{{category}}">{{category | capitalize}}</a><span ng-hide="category == post.categories[post.categories.length-1]">, </span></span></p>
                    <h3 class="textformat text-center"><a ng-show="post.title!=''" href="#/{{post.title}}">{{post.title | capitalize}} </a></h3>
                    <a ng-show="post.imgsrc!=''" href="#/{{post.imgsrc}}"><img class="img-responsive center-block img-thumbnail" alt="{{post.imgalt}}" ng-src="{{post.imgsrc}}"></a>
                    <p class="textformat" ng-show="post.text!=''">{{post.text}}</p>

    <!--     Author name, image and age-->
                    <a href="#/{{post.author}}"><img class="authorimage img-responsive center-block img-circle" alt="{{post.author}}" ng-src="{{post.authorimage}}"></a>
                    <h4 class="text-center"><a href="#/{{post.author}}">{{post.author}}</a>, <small>{{post.age}} m.</small></h4>

    <!--     Share-->
                    <div class = "social text-center">
                        <p>Dalintis:</p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link">
                                <a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">
                                  <i class="fa fa-facebook-square fa-2x"></i>
                                </a>
                            </li>
                            <li class="tooltip-social google-plus-link">
                                <a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+">
                                  <i class="fa fa-google-plus-square fa-2x"></i>
                                </a>
                            </li>
                            <li class="tooltip-social twitter-link">
                                <a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">
                                  <i class="fa fa-twitter-square fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-2 col-lg-2">
            <ul rm-affix="70" class="nav nav-stacked nav-pills">
                <li class="active"><a href="/">Top:</a></li>
                <li><a href="#/tales">Pasakoriai</a></li>
                <li><a href="#/photos">Fotomodeliai</a></li> 
                <li><a href="#/arts">Dailininkai</a></li>
                <li><a href="#/creations">Kūrėjai</a></li>
                <li><a href="#/popular">Populiariausi</a></li> 
            </ul>
        </div>
        
        <div class="clearfix visible-lg"></div>
    </div>
    <!--    End of Posts section-->

</div>    

</div>