<!--    content.html-->

<!--  Blog posts section -->
<!--    Header  -->
<div class="headerbackground">
    <div class = "container">
        <div class="row ">
            <div class="page-header">
                <form id="searchform" class="form-horizontal pageheader" role="search">
                    <div class="search-line form-group">
                        <h3><label for="searchform">{{message}}</label></h3>
                        <div class="col-sm-4" ng-controller="NewPostController">
                            <div class = "btn btn-group leftpaddingzero">
                                <button type="button" class="btn btn-success " ng-click="open('templates/newpost.html')"></span> Naujas įrašas</button>
                                <button type="button" class="btn btn-default greenborder " ng-click="open('templates/newpost.html')"><span class="fa fa-pencil"></span></button>
                                <button type="button" class="btn btn-default greenborder " ng-click="open('templates/newpost.html')"><span class="fa fa-camera-retro"></span></button>
                                <button type="button" class="btn btn-default greenborder " ng-click="open('templates/newpost.html')"><span class="fa fa-film"></span></button>
                                <button type="button" class="btn btn-default greenborder " ng-click="open('templates/newpost.html')"><span class="fa fa-paint-brush"></span></button>
                                <button type="button" class="btn btn-default greenborder " ng-click="open('templates/newpost.html')"><span class="fa fa-rocket"></span></button>
                            </div>
                        </div>
                        <div class="col-sm-4 last downabit">
                            <input type="text" class="form-control" id="searchform" placeholder="Ieškoti" ng-model="searchText">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- could be like here http://www.bootply.com/tStLqUPQo3 -->
<!--    Posts section-->
<div class = "container">
    <div class ="row">
        <div class="container page"> <!-- taken from http://www.bootply.com/KZeecILD2t-->
        	<article class="col-sm-6" ng-repeat="post in posts | filter:searchText | filter:filters">
        		<blockquote class="panel panel-default" >
        			<div class="panel-body">
        <!--     Post categories, title, image, text-->
        <!--categories-->
                        <div>
                            <p class="textformat smaller">Kategorijos: 
                                <span ng-repeat="category in post.categories">
                                    <a ng-show="category!=''" ui-sref="category({id: post.categories[$index]})">{{category | capitalize}}</a>
                                    <span ng-hide="category == post.categories[post.categories.length-1]">, </span>
                                </span>
                            </p>
                        </div>
        <!--title-->
                        <div>
                            <h3 class="textformat text-center">
                                <a ng-show="post.title!=''" ui-sref="post({id: post.id})">{{post.title | limitTo:30 | capitalize}}{{post.title.length > 30 ? '&hellip;' : ''}}</a>
                            </h3>
                        </div>
        <!--images-->
                        <div>
                            <a ng-show="post.imgsrc!=''" ui-sref="post({id: post.id})">
                                <img class="bigimage img-responsive center-block img-thumbnail" alt="{{post.imgalt}}" ng-src="{{post.imgsrc}}">
                            </a>
                        </div>
        <!--text-->                    
                        <div>
                            <p class="textformat text-justify" ng-show="post.text!=''">{{post.text | limitTo : 250}} {{post.text.length > 250 ? '&hellip;' : ''}}</p>
                        </div>
        <!--Video from here https://github.com/brandly/angular-youtube-embed         -->
                        <div ng-show="post.videosrc!=''" class="embed-responsive embed-responsive-4by3" >
                            <youtube-video  video-url="post.videosrc" class="img-responsive embed-responsive-item"></youtube-video>
                        </div>
        <!-- author's name, image and age-->
                        <div>
                            <a ui-sref="author({id: post.author})">
                                <img class="authorimage img-responsive center-block img-circle" alt="{{post.author}}" ng-src="{{post.authorimage}}">
                            </a>
                            <h4 class="text-center">
                                <a ui-sref="author({id: post.author})">{{post.author}}</a>, 
                                <a ui-sref="age({id: post.age})">{{post.age}} m.</a>
                            </h4>
                        </div>
        
        <!-- share-->
                        <div class = "social text-center">
                            <p class = "social smaller">Dalintis:</p>
                            <ul class="list-unstyled list-inline list-social-icons">
                                <li class="tooltip-social facebook-link">
                                    <a ui-sref="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">
                                      <i class="fa fa-facebook-square fa-2x"></i>
                                    </a>
                                </li>
                                <li class="tooltip-social google-plus-link">
                                    <a ui-sref="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+">
                                      <i class="fa fa-google-plus-square fa-2x"></i>
                                    </a>
                                </li>
                                <li class="tooltip-social twitter-link">
                                    <a ui-sref="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">
                                      <i class="fa fa-twitter-square fa-2x"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
        <!--date-->
                        <div>
                            <p class="textformat smaller text-center">{{post.postDate}}</p>
                        </div>
        			</div>
        		</blockquote>
        	</article>
    	</div>
        
    </div>
</div>
    <!--    End of Posts section-->
