<!--    content.html-->

<!-- posts section-->
<div class = "container">
    <div class ="row">
        <div class = "col-sm-12">
            <div class="page"> <!-- taken from http://www.bootply.com/KZeecILD2t-->
            	<article class="col-sm-6" ng-repeat="post in posts | filter:searchText | filter:filters">
            	    <div>
            	        <blockquote class="panel panel-default" >
                			<div class="panel-body">
<!--post title, image, text-->
<!--title-->
                                <h3 class="textformat text-center linkstyle paddingsmall">
                                    <a ng-show="post.title!=''" ui-sref="post({id: post.id})">{{post.title | limitTo:30 | capitalize}}{{post.title.length > 30 ? '&hellip;' : ''}}</a>
                                </h3>
<!--images-->
                                <p>
                                    <a ng-show="post.imgsrc!=''" ui-sref="post({id: post.id})">
                                    <img class="bigimage img-responsive center-block img-thumbnail" alt="{{post.imgalt}}" ng-src="{{post.imgsrc}}">
                                    </a>
                                </p>
<!--text-->                    
                                <p class="linkstyle text-justify taletext" ng-show="post.text!=''" ><a class = "regular" ui-sref="post({id: post.id})" >{{post.text | limitTo : 250}} {{post.text.length > 250 ? '&hellip;' : ''}}</a></p>
<!--video from here https://github.com/brandly/angular-youtube-embed         -->

                                <div ng-show="post.videosrc!=''" class="embed-responsive embed-responsive-4by3" >
                                    <youtube-video  video-url="post.videosrc" class="img-responsive embed-responsive-item"></youtube-video>
                                </div>
<!--author and social share sector-->
<!--author's image-->
                                <div class = "col-sm-4">
                                    <a ui-sref="author({id: post.author})">
                                        <img class="authorimage img-responsive center-block img-circle" alt="{{post.author}}" ng-src="{{post.authorimage}}">
                                    </a>
                                </div>
<!-- author name and age-->
                                <div class = "col-sm-8 downmore">
                                    <h5 class="text-center linkstyle downmore">
                                        <p><strong><a ui-sref="author({id: post.author})">{{post.author}}</a></strong>, <br>
                                        amžius: <strong><a ui-sref="age({id: post.age})">{{post.age}} metai</a></strong></p>
                                    </h5>
                                </div>
                			</div>
                		</blockquote>
            		</div>
                    <aside class = "postfooter paddingsmall">
                        <div class="row">
<!--categories-->
                            <p class="col-sm-11 col-sm-offset-1 paddingsmall smaller marginbottomzero">Kategorijos: 
                                <span ng-repeat="category in post.categories" class = "linkstyle">
                                    <a ng-show="category!=''" ui-sref="category({id: post.categories[$index]})"><strong>{{category | capitalize}}</strong></a>
                                    <span ng-hide="category == post.categories[post.categories.length-1]">, </span>
                                </span>
                            </p>
                        
                            <div class = "row paddingzero">
<!--date-->
                                <div class="col-sm-7 col-sm-offset-1 paddingsmall">
                                    <p class="smaller marginzero">{{post.postDate}}</p>
                                </div>
                                <div class="col-sm-3 paddingzero">
<!--social-->
                                    <ul class="text-right social list-inline paddingzero marginzero">
                                        <li class="tooltip-social facebook-link smaller">
                                            <a ui-sref="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">
                                              <i class="fa fa-facebook-square fa-2x"></i>
                                            </a>
                                        </li>
                                        <li class="tooltip-social google-plus-link smaller">
                                            <a ui-sref="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+">
                                              <i class="fa fa-google-plus-square fa-2x"></i>
                                            </a>
                                        </li>
                                        <li class="tooltip-social twitter-link smaller">
                                            <a ui-sref="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">
                                              <i class="fa fa-twitter-square fa-2x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </aside>
            	</article>
        	</div>
        </div>
    </div>
</div>
<!--    End of Posts section-->
