<!--header.html-->
<!--Navigation-->
<nav id = "navigation" class="navbar navbar-default navbar-fixed-top navbarheight" role="navigation" ng-controller="NavBarController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="nav navbar-brand downabit" ui-sref="home" ng-click="filters.type = ''">Į pradžią</a>
    </div>
    <div class="collapse navbar-collapse" collapse="isCollapsed">
      <ul class="nav navbar-nav">
        <li><a class="text-center" ui-sref="tales"      ng-click="filters.type = 'tales'" >   Pasakojimai</a></li>
        <li><a class="text-center" ui-sref="photos"     ng-click="filters.type = 'photos'">   Nuotraukos</a></li>
        <li><a class="text-center" ui-sref="videos"     ng-click="filters.type = 'videos'">   Filmukai</a></li>
        <li><a class="text-center" ui-sref="arts"       ng-click="filters.type = 'arts'">     Kūriniai</a></li> 
        <li><a class="text-center" ui-sref="creations"  ng-click="filters.type = 'creations'">Darbeliai</a></li>
        <li><a class="text-center" ui-sref="popular"    ng-click="filters.type = 'popular'">  Populiariausi</a></li> 
      </ul>
      
      <ul class="nav navbar-nav navbar-right navbar-collapse" dropdown is-open="status.isopen" ng-controller="LoginController" >
        <li type="button" class="navbar dropdown-toggle downabit text-center" dropdown-toggle ng-disabled="disabled">
          <a><span class="fa fa-key"></span> Prisijungti(vardas) <span class="caret"></span></a>
        </li>
        <ul class="dropdown-menu" role="menu">
          <li><a class="text-center" ng-click="open('templates/login.html')"><span class="fa fa-key"></span> Prisijungti</a></li>
          <li><a class="text-center" ng-click="open('templates/signup.html')"><span class="fa fa-users"></span> Registruotis</a></li>
          <li class="divider"></li>
          <li><a class="text-center" ng-click="open('templates/profile.html')"><span class="fa fa-user"></span> Profilis)</a></li>
          <li class="divider"></li>
          <li><a class="text-center" ng-click=""><span class="fa fa-key"></span> Atsijungt)</a></li>
        </ul>
      </ul>
      
      
    </div>
  </div>
</nav>