<!--header.html-->
<!--Navigation-->
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavBarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-click="isCollapsed = !isCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#/">Į pradžią</a>
    </div>
    <div class="collapse navbar-collapse" collapse="isCollapsed">
      <ul class="nav navbar-nav">
        <li><a class="text-center" href="#/tales">Pasakojimai</a></li>
        <li><a class="text-center" href="#/photos">Nuotraukos</a></li>
        <li><a class="text-center" href="#/arts">Piešiniai</a></li> 
        <li><a class="text-center" href="#/creations">Darbeliai</a></li>
        <li><a class="text-center" href="#/popular">Populiariausi</a></li> 
      </ul>
        
      <ul class="nav navbar-nav navbar-right" ng-controller="LoginCtrl">
        <li><a class="text-center"  ng-click="open('partials/signup.html')"><span class="fa fa-user"></span> Registruotis(vardas/profilis)</a></li>
        <li><a class="text-center"  ng-click="open('partials/login.html')"><span class="fa fa-key"></span> Prisijungti(atsijungt)</a></li>
      </ul>
    </div>
  </div>
</nav>

