<!--header.html-->
<!--Navigation-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#/">Į pradžią</a>
    </div>
    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#/tales">Pasakojimai</a></li>
        <li><a href="#/photos">Nuotraukos</a></li>
        <li><a href="#/arts">Piešiniai</a></li> 
        <li><a href="#/creations">Darbeliai</a></li>
        <li><a href="#/popular">Populiariausi</a></li> 
      </ul>
        
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/signup"><span class="fa fa-user"></span> Sign Up</a></li>
        <li><a href="#/login"><span class="fa fa-key"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

