<!--    postTemplate.html-->

<div class="row">
    <div class="page-header">
        <form id="searchform" class="form-horizontal pageheader" role="search">
            <div class="search-line form-group">
                <h3><label for="searchform">{{title}}</label></h3>
                <div class="col-sm-11 last">
                    <input type="text" class="form-control" id="searchform" placeholder="Ieškoti" ng-model="searchText">
                </div>
            </div>
        </form>
    </div>
</div>

<!--<div class="container page">-->
<!--    <article class="col-sm-12"">-->
<!--		<blockquote class="panel panel-default" >-->
<!--			<div class="panel-body">-->
<!--     Post categories, title, image, text-->
<!--categories-->
<!--                <div>-->
<!--                    <p class="textformat smaller">Kategorijos: -->
<!--                        <span ng-repeat="category in post.categories">-->
<!--                            <a ng-show="category!=''" href="#/{{category}}">{{category | capitalize}}</a>-->
<!--                            <span ng-hide="category == post.categories[post.categories.length-1]">, </span>-->
<!--                        </span>-->
<!--                    </p>-->
<!--                </div>-->
<!--title-->
<!--                <div>-->
<!--                    <h3 class="textformat text-center">-->
<!--                        <a ng-show="post.title!=''" href="#/{{post.title}}">{{post.title | limitTo:30 | capitalize}}{{post.title.length > 30 ? '&hellip;' : ''}}</a>-->
<!--                    </h3>-->
<!--                </div>-->
<!--images-->
<!--                <div>-->
<!--                    <a ng-show="post.imgsrc!=''" href="#/{{post.imgsrc}}">-->
<!--                        <img class="bigimage img-responsive center-block img-thumbnail" alt="{{post.imgalt}}" ng-src="{{post.imgsrc}}">-->
<!--                    </a>-->
<!--                </div>-->
<!--text-->                    
<!--                <div>-->
<!--                    <p class="textformat" ng-show="post.text!=''">{{post.text | limitTo : 250}} {{post.text.length > 250 ? '&hellip;' : ''}}</p>-->
<!--                </div>-->
<!--Video from here https://github.com/brandly/angular-youtube-embed         -->
<!--                <div ng-show="post.videosrc!=''" class="embed-responsive embed-responsive-4by3" >-->
<!--                    <youtube-video  video-url="post.videosrc" class="img-responsive embed-responsive-item"></youtube-video>-->
<!--                </div>-->
<!-- author's name, image and age-->
<!--                <div>-->
<!--                    <a href="#/{{post.author}}">-->
<!--                        <img class="authorimage img-responsive center-block img-circle" alt="{{post.author}}" ng-src="{{post.authorimage}}">-->
<!--                    </a>-->
<!--                    <h4 class="text-center">-->
<!--                        <a href="#/{{post.author}}">{{post.author}}</a>, -->
<!--                        <a href="#/{{post.author}}">{{post.age}} m.</a>-->
<!--                    </h4>-->
<!--                </div>-->

<!-- share-->
<!--                <div class = "social text-center">-->
<!--                    <p class = "social smaller">Dalintis:</p>-->
<!--                    <ul class="list-unstyled list-inline list-social-icons">-->
<!--                        <li class="tooltip-social facebook-link">-->
<!--                            <a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">-->
<!--                              <i class="fa fa-facebook-square fa-2x"></i>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="tooltip-social google-plus-link">-->
<!--                            <a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+">-->
<!--                              <i class="fa fa-google-plus-square fa-2x"></i>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="tooltip-social twitter-link">-->
<!--                            <a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">-->
<!--                              <i class="fa fa-twitter-square fa-2x"></i>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--date-->
<!--                <div>-->
<!--                    <p class="textformat smaller text-center">{{post.postDate}}</p>-->
<!--                </div>-->
<!--			</div>-->
<!--		</blockquote>-->
<!--	</article>-->
<!--</div>-->