<!--    postTemplate.html-->

<div class="page-header pageheader">
    <h3><label for="searchform">{{message}}</label></h3>
</div>

<div class="clearfix container singlecolumn">
    

    <blockquote class="panel panel-default row col-sm-12">

        <div class="panel-body">
    		<div class="col-sm-7 col-sm-offset-1">
    
<!--title-->
                <div ng-show="post.title!=''">
                    <h3 class="panel-header textformat text-center">
                        <a  href="#/{{post.title}}">{{post.title | capitalize}}</a>
                    </h3>
                </div>    

<!--post images-->
                <div>
                    <a ng-show="post.imgsrc!=''" href="#/{{post.imgsrc}}">
                        <img class="bigimage img-responsive center-block img-thumbnail" alt="{{post.imgalt}}" ng-src="{{post.imgsrc}}">
                    </a>
                </div>
<!--post text-->                    
                <div>
                    <p class="textformat text-justify" ng-show="post.text!=''">{{post.text}}</p>
                </div>
<!--videos from here https://github.com/brandly/angular-youtube-embed         -->
                <div ng-show="post.videosrc!=''" class="embed-responsive embed-responsive-4by3" >
                    <youtube-video  video-url="post.videosrc" class="img-responsive embed-responsive-item"></youtube-video>
                </div>
            </div>
    
    		<div class="col-sm-3 col-sm-offset-1">
    		    
<!--author information-->
    <!--author image-->
                <div>
                    <a href="#/{{post.author}}">
                        <img class="authorimage img-responsive center-block img-circle" alt="{{post.author}}" ng-src="{{post.authorimage}}">
                    </a>
                </div>
<!-- post author's name and age   -->
                <div class="row">
                    <div>
                        <h4 class="textformat">
                            <p class="textformat">Autorius:  
                                <a href="#/{{post.author}}">{{post.author}}</a>, 
                                <a href="#/{{post.author}}">{{post.age}} m.</a>
                            </p>
<!--post categories-->
                            <p class="smaller textformat">Kategorijos: 
                                <span ng-repeat="category in post.categories">
                                    <a ng-show="category!=''" href="#/{{category}}">{{category | capitalize}}</a>
                                    <span ng-hide="category == post.categories[post.categories.length-1]">, </span>
                                </span>
                            </p>
                        </h4>
                    </div>
<!-- post description  -->
                    <div ng-show="post.description!=''">
                        <h4 class="textformat">
                            <p class="smaller textformat">Apie:
                            <div class = "well">
                                <p class = "smaller textformat text-justify">{{post.description}}</p>
                            </div>
                            
                        </h4>
                    </div>
    <!-- share-->
        		    <div class = "text-center">
                        <p class = "smaller textformat">Dalintis:</p>
                        <ul class="list-unstyled list-inline list-social-icons">
                            <li class="tooltip-social facebook-link">
                                <a href="#facebook-profile" data-toggle="tooltip" data-placement="top" title="Facebook">
                                  <i class="fa fa-facebook-square fa-2x"></i>
                                </a>
                            </li>
                            <li class="tooltip-social google-plus-link">
                                <a href="#google-plus-profile" data-toggle="tooltip" data-placement="top" title="Google+">
                                  <i class="fa fa-google-plus-square fa-2x"></i>
                                </a>
                            </li>
                            <li class="tooltip-social twitter-link">
                                <a href="#twitter-profile" data-toggle="tooltip" data-placement="top" title="Twitter">
                                  <i class="fa fa-twitter-square fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                <!--date of post-->
            <div class="row">
                <p class="textformat text-center smaller"> {{post.postDate}}</p>
            </div>
                    
                </div>
                
    		</div>
		</div>

	</blockquote>
	
</div>

<div class="row">
    <div class="col-sm-1">
        <button type="button" class="btn btn-warning" ui-sref="home"><span class="fa fa-backward"></span> Grįžti </button>
    </div>
</div>